# This workflow will destroy the terraform scripts which deployed the recquied infrastructure and the startup-sample-app

name: Terraform destroy

on:
  workflow_dispatch:
    inputs:
      env:
        description: select the environment to destroy
        type: environment
        required: true
    
env:
  TF_VERSION: 1.0.9
  environment: ${{ inputs.env }}
  SHA: ${{ github.sha }}
  GIT_URL: $GITHUB_SERVER_URL/$GITHUB_REPOSITORY
  
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout
  
jobs:
  build:
    runs-on: ubuntu-latest
    environment: ${{ inputs.env }}
    steps:
      - name: checkout the repo and building the Backend    
        uses: actions/checkout@v2
        
      - name: print cloud_environment
        run: echo the cloud env is ${{ env.environment }}
      
      - name: setting variables
        run: | 
             cd terraform/
             cat <<EOF > dev.auto.tfvars
             sha = "${{ env.SHA }}"
             git_url= "${{ env.GIT_URL }}"
             target_env = "${{ env.environment }}"
             EOF
             
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.TERRAFORM_DEPLOY_ROLE_ARN }}
          aws-region: ca-central-1
            
      - name: Destroying startup-sample-project using terraform
        run: |
            cd terraform/
            cat <<EOF > backend.hcl
            bucket = "${{ secrets.S3_BACKEND_NAME }}"
            key = "${{ secrets.LICENCEPLATE }}/${{ env.environment }}/serverless-app.tfstate"
            dynamodb_table = "terraform-remote-state-lock-${{ secrets.LICENCEPLATE }}"
            EOF
            
            terraform init -backend-config=backend.hcl -input=false
            terraform destroy -auto-approve -input=false