# This workflow will apply the terraform scripts which would deploy the recquied infrastructure and the startup-sample-app

name: Terraform plan

on:
  
  pull_request:
    branches: 
        - main
        - dev
        - test    
env:
  TF_VERSION: 1.0.9
  environment: $GITHUB_BASE_REF
  GIT_URL: $GITHUB_SERVER_URL/$GITHUB_REPOSITORY
  SHA: ${{github.event.pull_request.head.sha}}
  Branch: ${GITHUB_HEAD_REF}

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  build:
    environment: ${GITHUB_HEAD_REF}
    runs-on: ubuntu-latest       
    steps:
      - name: prod check 
        if: ${{ github.base_ref == 'main' }}
        run: echo "environment=prod" >> $GITHUB_ENV
    
      - name: checkout the repo and building the Backend    
        uses: actions/checkout@v2    
        
      - name: env name
        run: echo the will apply on ${{ env.environment }}
        
      - name: setting variables
        run: | 
             cd terraform/
             cat <<EOF > dev.auto.tfvars
             sha = "${{ env.SHA }}"
             git_url= "${{ env.GIT_URL }}"
             branch ="${{ env.Branch }}"
             target_env = "${{ env.environment }}"
             EOF
             
    
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.TERRAFORM_DEPLOY_ROLE_ARN }}
          aws-region: ca-central-1

      - name: Planning startup-sample-project using terraform
        uses: hashicorp/setup-terraform@v1
      - run: |
            cd terraform/
            cat <<EOF > backend.hcl
            bucket = "${{ secrets.S3_BACKEND_NAME }}"
            key = "${{ secrets.LICENCEPLATE }}/${{ env.environment }}/serverless-app.tfstate"
            dynamodb_table = "terraform-remote-state-lock-${{ secrets.LICENCEPLATE }}"
            EOF
            
            terraform init -backend-config=backend.hcl -input=false
            terraform plan -input=false
